<h1>プロフィール編集</h1>

<%= form_with(model: @user_profile, url: user_profile_update_path, local: true, method: :post, html: { class: 'recipe-form' }) do |f| %>

  <div class="form-group image-upload">
    <%= f.label "画像", class: 'form-label' %>
    <div class="image-preview" id="imagePreview">
      <img src="" alt="Image Preview" class="image-preview__image">
      <span class="image-preview__default-text">Image will be displayed here</span>
    </div>
    <%= f.file_field :image, class: 'form-control-file', id: 'imageUpload' %>
  </div>
  
  <div class="form-group pt-4">
    <%= f.label :name, "名前" %>
    <%= f.text_field :name, class: 'form-control', value: @user_profile.name %>
  </div>


  <div class="form-group pt-4">
    <%= f.label :country, "出身国" %>
    <%= f.select :country_id, @countries.map { |country| [country.name, country.id] }, { include_blank: true }, class: 'form-control' %>
  </div>

  <div class="pt-5">
    <%= f.submit "保存", class: 'btn btn-primary' %>
  </div>
<% end %>