<!DOCTYPE html>
<html lang="ja">
<head>
  <!-- titleを変更します -->
  <title>home</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <!-- Style追加 -->
  <link rel="stylesheet" href="<%= mix('/css/app.css') %>">
  <script src="<%= mix('/js/bootstrap.js') %>"></script>
</head>
<body>
  <div class="navbar navbar-item">
    <%= link_to index_home_path, class: "navbar-item" do %>
      <h1 class="title is-4" style="font-family: ">world recipe</h1>
    <% end %>
  </div>
  

  
  <div class="row">
    <div class="col-2">
      <%= render 'layouts/sidebar' %>
    </div>
    <div class="col-8">
      <%= yield %>
    </div>
  </div>
</body>
</html>